@media (min-width: 980px) {
    body {
        padding-top: 60px;
        padding-bottom: 42px;
        margin-top: -40px;      
    }          
    section {
        margin-bottom:20px;
    }         
}

@media (max-width: 979px) {
    .navbar-fixed-bottom {
        position: static;
        margin-left: 0px;
        margin-right: 0px;     
    }    
}

.navbar-default {
    background-color: white;
    border-color: none;
    border-width: 0 0 0px;
}

.navbar-fixed-top {
    border-width: 0 0 0px;

}

.navbar-fixed-bottom {
    background-color: white;      
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: red;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover {
    color: red;
}
.hero-unit {   
    background-color: transparent;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;            
}
.hero-unit h1 {
    margin-top:10px;
    font-size: 80px;
 }
.hero-unit p {
    font-size: large;
    font-weight: 200;
    padding: 10px 5px 0px 0;
}

#navbar-edsonsite {
    font-size: medium;
}

/* Portfolio */

.portfolio li a{
	display: inline-block;
	padding: 5px;
	font-size: 16px;	
}