<section class="about">   
    <h1>Edson Alcala</h1>
    <p>
        Software architect and informatics designer currently based in Edinburgh, Scotland. <br><br>
        After finishing a Bachelor degree in Electronics, I decided to work in the software industry, where I collaborated in the development of digital products for web and mobile platforms. <br><br>
        Passionate about technology and with a desire of continuous learning and self development, I moved to the United Kingdom to pursue a master degree in Design Informatics at The University of Edinburgh. <br><br>
        During my studies I had the opportunity to learn emerging technologies and new ways of generation of value in current economies. I like to work at the intersection of art and technology with a human centred approach. <br><br>
        Currently working and exploring new business models and value exchange between people and machine to machine with Blockchain technology and smart contracts.                    
    </p>
</section>