$font-family-base: 'Raleway', sans-serif;

$icon-font-path: '../fonts/';
$aboutPageColor: #4BB5EA;
$democrachainColor: #6FD8EE;
$mp3GrabbyColor: #E35E63;
$tuMenuColor: #FA715E;
$dataPassportColor: #0D1434;

$redSelectedMenuOptionColor: #F14C4C;
$whiteColor: #FEF7F7;
$blackColor: #272424;

@import "font-awesome";

@font-face {
    font-family: 'AvenirNext-Regular';
    src: url(/fonts/AvenirNext-Regular.ttf);
}
html, body{
    font-family: 'AvenirNext-Regular';
    height: 100%;
    width: 100%;
    min-width: 480px;
}

body {
    background-color: $whiteColor;
    overflow: hidden;
    font-size: 10px;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0;
}
@media (min-width: 480px){
     .container{
        left: 20px;
        right: 20px;
    }
}
@media (min-width: 768px){
    .container{
        left: 40px;
        right: 40px;
    }
}


header {
    position: absolute;
    top:0;
    left: 0;
    height:30px;
    width: 100%;
    background-color: white;
    .header-logo{
        position: absolute;
        height: 100%;
        padding: 0;
        width: 40px;
        background-image: url(/images/edsonlogo.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        overflow: hidden;
        left: 20px;
    }
}

@media (min-width: 480px){
    header .header-logo {
        left: 40px;
    }
}

@media (min-width: 768px){
    header .header-logo {
        left: 60px;
    }
}

@media (min-width: 1180px){
    header .header-logo {
        left: 100px;
    }
}

#primary-nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    ul{
        list-style: none;
        padding: 0;
        li{
            height: 100%;
            display: inline-block;
            a{
                position: relative;
                padding: 10px 10px 4px;
                color: #000;
                text-transform: capitalize;
                text-decoration: none;
                span{
                     background-color: #000;
                     position: absolute;
                    bottom: 0;
                    left: 6px;
                    right: 6px;
                    height: 2px;
                }
            }
        }

    }
}

#secondary-nav{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(0, -50%);
    height: 100%;
    a{
        position: relative;
        margin-left: 4px;
        margin-right: 4px;
        text-decoration: none;
        display: inline-block;
    }
}

.github{
    background-image: url(/images/github-icon.svg);
}
.curriculum{
    background-image: url(/images/cv-icon.svg);
}
.contact{
    background-image: url(/images/envelope-icon.svg);
}
.github, .curriculum,.contact{
    height: 100%;
    width: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

@media (min-width: 768px){
    body{
      font-size: 12px;
    }
    .github, .curriculum,.contact {
      width:16px;
    }

    header {
        height: 50px;
        .header-logo{
            //height: 70px;
            width: 50px;
        }
    }
}

#about{
  background: $aboutPageColor;
}

#side-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    overflow: hidden;
    transform: translate(0,-50%);
}
