---
layout: compress
---
<!DOCTYPE html>
<html>
            
  {% include head.html %}
  {% include seo.html %}
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  {% include styles.html %}
  
  <body>
    
    <div class="container">
       {% include navbar.html %}
       
       {{ content }}
    </div>

    {% include footer.html %}

    {% include github-ribbon.html %}
    
    {% include analytics.html %}
    
    {% include piwik.html %}
    
    {% include libs.html %}

    {% include scripts.html %}

  </body>

</html>
